# npm
/node_modules
/public/hot
/public/css
/public/js
/public/vendor
/public/themes
/public/fonts
/public/storage
/resources/coverage
/public/mix-manifest.json

/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/ignorables/*
docker-compose-collection
/bin/
storage/dcc-data

# exuberant-ctags file
tags

# https://github.com/hesselbom/vim-hsftp
.hsftp

# php-cs-fixer
.php_cs.cache

# composer itself is not needed
/composer.phar
/docker-compose-collection
/bin

# Mac DS_Store Files
/.DS_Store

# phpunit itself is not needed
/phpunit.phar

# local phpunit config
/phpunit.xml
